---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p><em>Here you can find:</em></p>
	<ol>
		<li><a href=" ">Projects</a></li>
		<li><a href=" ">Digital Media</a></li>
		<li><a href=" ">Blogs</a></li>
	</ol>
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy Site</a> inspired from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>


{{ content | safe }}
